.navbar {
  z-index: 1000;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  padding-block: 20px;
  font-size: 20px;
  margin: 0;
  position: fixed;
  width: 100%;
  transition: 0.2s;
  box-shadow: 0 0 10px 1px black;
}

.navbar_items {
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;
}

@media (min-width: 1080px) {
  .navbar {
    z-index: 1000;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    padding-block: 20px;
    font-size: 20px;
    margin: 0;
    position: fixed;
    width: 100%;
    transition: 0.2s;
    box-shadow: 0 0 10px 1px black;
  }

  .navbar_items {
    display: flex;
    justify-content: space-evenly;
    transition: 0.2s;
  }

  .toggle {
    position: absolute;
    top: 25%;
    right: 25px;
  }
}
